{% extends 'base.html' %}

{% block title %}Contact Us - Phone Store{% endblock %}

{% block content %}
<div class="container-fluid p-0">
    <div class="about-header" style="background-color: #f8f9fa; padding: 100px 0; text-align: center;">
        <div class="overlay"></div> <!-- Optional: Add an overlay for better readability of text -->
        <div class="content">
            <h1 class="mt-3 mb-4">Contact Us   <i class="fa fa-phone"></i></h1>
            <p class="lead">Welcome to Phone World, your one-stop destination for the latest mobile phones!</p>
        </div>
    </div>
</div>    
<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-md-6">
            <h1>Contact Us</h1>
            <p class="lead">Fill out the form below to contact us:</p>
            <form method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                <!-- Name Input -->
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" required>
                </div>
        
                <!-- Email Input -->
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
                </div>
        
                <!-- Message Textarea -->
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea class="form-control" id="message" name="message" rows="4" placeholder="Enter your message" required></textarea>
                </div>
        
                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        
        </div>
        <div class="col-md-6">
            <h1>Our Locations</h1>
            <p class="lead">Visit any of our stores:</p>
            <!-- List of store locations -->
            <ul class="list-group">
                <li class="list-group-item"><i class="fas fa-geo-fill"></i> Store 1: Arusha - Tengeru</li>
                <li class="list-group-item"><i class="bi bi-geo-alt-fill"></i> Store 2: Dar es Salaam - Kigamboni</li>
                <li class="list-group-item"><i class="bi bi-geo-alt-fill"></i> Store 3: Mwanza - Kisesa</li>
                <!-- Add more locations as needed -->
            </ul>
        </div>

    </div>



<!-- FAQ Section -->
<div class="row mt-5">
    <div class="col-md-12">
        <h1>Frequently Asked Questions</h1>
        <div class="accordion" id="faqAccordion">
            <div class="card">
                <div class="card-header" id="question0">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#answer0" aria-expanded="true" aria-controls="answer1">
                            What is Phone Store?
                        </button>
                    </h5>
                </div>
                <div id="answer0" class="collapse show" aria-labelledby="question0" data-parent="#faqAccordion">
                    <div class="card-body">
                        Phone store provides flexible smartphone financing solutions in sub-Saharan Africa, including Kenya.
                    </div>
                </div>
            </div>
        <div class="accordion" id="faqAccordion">
            <div class="card">
                <div class="card-header" id="question1">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#answer1" aria-expanded="true" aria-controls="answer1">
                            What is Phone Store?
                        </button>
                    </h5>
                </div>
                <div id="answer1" class="collapse show" aria-labelledby="question1" data-parent="#faqAccordion">
                    <div class="card-body">
                        Phone Store provides flexible smartphone financing solutions in sub-Saharan Africa, including Kenya.
                    </div>
                </div>
            </div>
        <div class="accordion" id="faqAccordion">
            <div class="card">
                <div class="card-header" id="question1">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#answer2" aria-expanded="true" aria-controls="answer1">
                            What is Phone Store?
                        </button>
                    </h5>
                </div>
                <div id="answer2" class="collapse show" aria-labelledby="question2" data-parent="#faqAccordion">
                    <div class="card-body">
                        Phone Store provides flexible smartphone financing solutions in sub-Saharan Africa, including Kenya.
                    </div>
                </div>
            </div>
            <!-- Add more FAQ items as needed -->
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}
