{% extends 'base.html' %}

{% block title %}Phone Payment Application{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-body">
            <h2 class="card-title text-center mb-4">Payment Application Form</h2>
            <form method="POST" style="max-width: 500px; margin: auto;">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.firstname.label_tag }}
                        {{ form.firstname }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.lastname.label_tag }}
                        {{ form.lastname }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.id_number.label_tag }}
                        {{ form.id_number }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.phone1.label_tag }}
                        {{ form.phone1 }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.phone2.label_tag }}
                        {{ form.phone2 }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.region.label_tag }}
                        {{ form.region }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.district.label_tag }}
                        {{ form.district }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.street.label_tag }}
                        {{ form.street }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.gender.label_tag }}
                        {{ form.gender }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.age_range.label_tag }}
                        {{ form.age_range }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        {{ form.payment_choice.label_tag }}
                        {{ form.payment_choice }}
                    </div>
                </div>
                <div class="form-row mt-3">
                    <div class="col-md-12">
                        <p class="text-muted">
                            <strong>Disclaimer:</strong> By submitting this form, you consent to the collection and use of your personal data for the purpose of processing your payment application. Your data will be kept confidential and secure.
                        </p>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
