{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-body">
            <h2 class="card-title">{{ product.name }}</h2>
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid mb-4">
            <p>{{ product.description }}</p>
            <h3>Specifications</h3>
            <ul>
                <li>Camera: {{ product.camera }}</li>
                <li>Storage RAM: {{ product.storage_ram }}</li>
                <li>Battery: {{ product.battery }}</li>
                <li>Android Version: {{ product.android_version }}</li>
                <li>SIM Type: {{ product.sim_type }}</li>
                <li>Screen: {{ product.screen }}</li>
                <li>Price: ${{ product.price }}</li>
                <li>Initial Loan Amount: ${{ product.initial_loan_amount }}</li>
            </ul>
            <h3 class="mt-4">Additional Images</h3>
            <div class="row">
                {% for image in product.additional_images.all %}
                    <div class="col-md-3">
                        <img src="{{ image.image.url }}" alt="Additional Image" class="img-thumbnail mb-3">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
